{% extends 'layouts/form.html' %}
{% block title %}Update Password{% endblock %}
{% block content %}
  <form method="post" class="form" action="/user/update_password">
    <h3 class="form-heading">Update Password <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      {% for field in form %}
          {% if field.id != 'csrf_token' %}
              <div class="form-group">
                  {{ field(class="form-control", placeholder = field.label.text, required = true) }}
                  {% if field.errors %}
                      {% for error in field.errors %}
                          <p class="form-error-message">{{ error }}</p>
                      {% endfor %}
                  {% endif %}
              </div>
          {% endif %}
      {% endfor %}
    <input type="submit" value="Update Password" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
