{% extends 'layouts/form.html' %}
{% block title %}Update Your Info{% endblock %}
{% block content %}
  <form method="POST" action="/user/update">
    <h3 class="form-heading">Update Your Info<a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    <label style="padding-bottom: 2px; padding-top: 5px; color:gray;">User Name:</label>
      {{ form.username(class_ = 'form-control first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    <label style="padding-bottom: 2px; padding-top: 5px; color:gray;">First Name:</label>
    {{ form.first_name(class_ = 'form-control', placeholder = form.first_name.label.text, required = true, autofocus = true) }}
      <label style="padding-bottom: 2px; padding-top: 5px; color:gray;">Last Name:</label>
    {{ form.last_name(class_ = 'form-control', placeholder = form.last_name.label.text, required = true, autofocus = true) }}
      <label style="padding-bottom: 2px; padding-top: 5px; color:gray;">Email:</label>
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    <input type="submit" value="Update" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}


