{% extends 'layouts/main.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="page-header">
  <h1>User Profile</h1>
</div>
<p class="lead"><strong>User name:</strong> {{user.username}}</p>
<p class="lead"><strong>First Name:</strong> {{user.first_name}}</p>
<p class="lead"><strong>Last Name:</strong> {{user.last_name}}</p>
<p class="lead"><strong>Email:</strong> {{user.email}}</p>

<div>
	<!--Reference; Onclick action to redirect to route attached to create_user_form: https://stackoverflow.com/questions/42601478/flask-calling-python-function-on-button-onclick-event	-->
	<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'user_update_form') }}'">Update Info</button>
	<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'user_update_password_form') }}'">Change Password</button>
	<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'user_delete') }}'">Delete User</button>
</div>

{% endblock %}